header {
    background: gold;
    margin : 0 auto;
    padding: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top : 0;
    left: 0;
}

.el {
    display: block;
    color : black;
    text-decoration: none;
    font-size: 20px;
    padding: 13px;
}
.genresBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 15px;
    width: 600px;
    overflow-x: scroll;
}
.a{
    position: relative;
}

.open {
    width: 500px;
    height: 500px;
    background: red;
    position: absolute;
    left : -360px;
    overflow-y: scroll;

}